<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>ja</string>
	<key>CFBundleExecutable</key>
	<string>RekieSekie</string>
	<key>CFBundleIdentifier</key>
	<string>dev.nagumo.RekieSekie</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>RekieSekie</string>
	<key>CFBundleDisplayName</key>
	<string>rekie-sekie</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.0</string>
	<key>CFBundleVersion</key>
	<string>0</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/nagumo/rekie-sekie/master/docs/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>gVgPrSBfzjObXY0s1BysDu5hKp3qJptXiUctbc0lH1c=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
</dict>
</plist>
